<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="RestAPI tests">
<listeners>
 <listener class-name="Utilities.CustomListeners">
 </listener>
</listeners>
    <test thread-count="5" name="Users RestAPI tests">
        <classes>
            <class name="TestCases.TC_GET_SingleUser"/>
            <class name="TestCases.TC_GET_UserList"/>
            <class name="TestCases.TC_POST_SingleUser"/>
            <class name="TestCases.TC_PUT_SingleUser"/>
            <class name="TestCases.TC_DELETE_SingleUser"/>
        </classes>
    </test>
</suite>








